
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #5A4B9C;
    background: url(../../assets/bg.jpg) no-repeat;
    background-size: cover;

}

.login-form{
    width: 450px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 20px 40px;
}

.login-form h1{
    font-size: 2.5rem;
    text-align: center;
}

.input-box{
    position: relative;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px; 
    font-size: 1rem;
    color: #624080;
    padding: 20px 45px 20px 20px;
}

.input-box input:focus{
    outline: none;
}

.input-box input::placeholder{
    color: #624080;
}

.input-icon{
    position: absolute;
    right: 28px;
    bottom: 15px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
}

.remember-forgot a{
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot a:active{
    color: transparent;
}

.login-btn{
    width: 100%;
    height: 45px;
    display: block;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: #624080;
    font-weight: 600;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.login-btn:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.register{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register a {
    text-decoration: none;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}

.register a:active{
    color: transparent;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #624080;
  margin: 0 10px;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0,0,0,.2); 
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s;
}

.google-btn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}






